[Unit]
Description=venueless
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --name %n -p {{ venueless_listen }}:80 \
-v {{ venueless_data_path }}:/data \
-v {{ venueless_config_path }}:/etc/venueless \
--sysctl net.core.somaxconn=4096 \
venueless/venueless:latest all
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
